/* Styles go here */

h1, h2, .h1, .h2 {
  font-family: Montserrat, sans-serif;
}

.jumbotron {
  margin-bottom: 0;
  min-height: 80vh;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.j1 .container {
  top: 15vh;
  position: relative;
}

.j1 {
  color: white;
  background-color: #3C8BA1;
  transition: box-shadow 7s ease-in-out;
  box-shadow: inset -12vh -10vh 30vh rgba(102, 60, 102,0.7), inset 0vh 0vh 30vh lightgreen, inset 20vh 0vh 30vh turquoise;
}

.j2 {
  background-image: url(img/prochain.jpg);
}

.j3 {
  color: white;
  background-color: #FC464C;
  box-shadow: inset 0 -10vh 10vh maroon;
}

.j4 {
  background-image: url(img/phonealchemist.jpg);
}

.bLabel {
  background: rgba(30,30,30, 0.8);
  color: white;
  position: relative;
  top: 40vh;
  float: right;
  padding: 1em;
}

.j2 .bLabel h2 {
  color: #1794BF;
}

.j3 .bLabel h2 {
  color: #FD3039;
}

.ask-btn {
  border: 1px solid white;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.see-btn {
    display: inline-block;
}

.cWhite {
  color: white !important;
}

#logo, .logo_dad {
  height: 10em;
  transition: all 1.5s ease-in-out;
  
}

.logo_dad {
  position: relative;
  bottom: 0;
}

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.shifted {
  bottom: 1em;
}

.shifted #logo {
  height: 9em;
}


/* Mobile Media Queries */
@media only screen and (max-device-width: 480px) {
  .jumbotron {
    min-height: 100vh;
  }
  
  .jumbotron .container {
    top: 5vh;
    position: relative;
  }

  #logo {
    height: 5em;
  }

  .bLabel {
    width: 100%;
  }

}


/* NON Mobile Media Queries */
@media only screen and (min-device-width: 480px) {

  .j1.messed_up {
      box-shadow: inset 12vh 10vh 20vh rgba(102, 60, 102,0.7), inset 0vh 0vh 15vh turquoise, inset -20vh 0vh 19vh lightgreen;
  }

  .bLabel {
    width: auto;
    max-width: 30%;
    text-align: right;
  }

}

